html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style:none;
    font-family:Tahoma, serif;
}

a 
{
    outline:0;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* *** */
body {
    background:#b9d52d;
}
.full {
    float:left;
    width:100%;
}
.center {
    width:960px;
    margin:auto;
}

div#header-wrap {
    background:url(images/header.gif) #e0e0e0;
    height:69px;
}
div#content-wrap {
    padding:10px 0;
    border-bottom:1px solid #e0e0e0;
    background:#fff;
}
div#content {
    overflow:hidden;
}
div#footer-wrap {
    padding:5px 0;
}
p#loading-message {
    font-size:11px;
    color:#505050;
    line-height:16px;
    padding-left:21px;
}
p#loading-message.loading
{
    background:url(images/loading.gif) no-repeat;
}
p#loading-message.ready 
{
    background:url(images/ready.png) no-repeat;
}
a#logo {
    float:left;
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
    color:#000;
    padding:12px 0 0;
}
nav#main-nav {
    float:right;
    padding-top:10px;
}
nav#main-nav li {
    float:left;
    margin-left:30px;
}
nav#main-nav li a {
    display:block;
    text-decoration:none;
    font-size:12px;
    color:#666;
}
nav#main-nav li a:hover 
{
    color:#000;
}

/**
 * Contents style
 */
div#w-contents 
{
    height:100%;
}
div#w-contents-left {
    float:right;
    width:700px;
    height:100%;
    overflow:auto;
    overflow-x:hidden;
}
div#w-contents-right {
    float:left;
    width:230px;
    height:100%;
    border-right:1px solid #e0e0e0;
    padding-right:16px;
    overflow:auto;
    overflow-x:hidden;
}
p#w-contents-search-error 
{
    padding-top:70px;
    background:url(images/warning.png) no-repeat center top;
    font-size:14px;
    color:#505050;
    float:left;
    width:100%;
    text-align:center;
}

/**
search
**/
div#w-contents-search {
    float:left;
    width:100%;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #f0f0f0;
}
div#w-contents-search h2
{
    font-size:12px;
    margin-bottom:5px;
}
div#w-contents-search p
{
    font-size:11px;
    color:#999;
    float:left;
    width:100%;
    line-height:13px;
}
div#w-contents-search input.text {
    float:left;
    display:block;
    width:100%;
    border:1px solid #ccc;
    color:#666;
    margin-bottom:5px;
}

/**
request
**/
div#w-contents-request {
    float:left;
    width:100%;
    margin-bottom:10px;
}
div#w-contents-request h2
{
    font-size:12px;
    margin-bottom:5px;
}
div#w-contents-request h3
{
    font-size:11px;
    font-weight:normal;
    margin-bottom:5px;
    float:left;
    width:100%;
}
div#w-contents-request h3 a
{
    color:#666;
    text-decoration:none;
}
div#w-contents-request h3 a:hover
{
    color:#000;
}
div#w-contents-request p
{
    font-size:11px;
    color:#999;
    float:left;
    width:100%;
    line-height:13px;
    margin-bottom:5px;
}
div#w-contents-request input.text {
    float:left;
    display:block;
    width:150px;
    border:1px solid #ccc;
    color:#666;
    margin-bottom:5px;
}
div#w-contents-request input.submit {
    float:right;
    display:block;
    width:70px;
    height:20px;
    cursor:pointer;
    border:0;
    text-indent:-100000px;
    background:url(images/request_send.png);
}
div#w-contents-request input.submit:hover
{
    background-position:0 -20px;
}
div#w-contents-request-list h2
{
    font-size:12px;
    padding:4px 0 10px;
    margin-bottom:10px;
    border-bottom:1px solid #e0e0e0;
}
div#w-contents-request-list li
{
    float:left;
    width:48%;
    height:30px;
    margin-bottom:10px;
    background:url(images/print.png) no-repeat;
}
div#w-contents-request-list li h3
{
    font-size:12px;
    padding-left:22px;
    line-height:14px;
    height:16px;
}
div#w-contents-request-list li h3 a
{
    color:#505050;
    text-decoration:none;
}
div#w-contents-request-list li h3 a:hover
{
    color:#000;
}
div#w-contents-request-list li h4
{
    font-size:11px;
    color:#999999;
    font-weight:normal;
    padding-left:22px;
}


ul#w-contents-list {
    float:left;
    width:100%;
}
ul#w-contents-list .content {
   float:left;
   width:100%;
   padding:10px 0;
   border-top:1px solid #e0e0e0;
}
ul#w-contents-list .thumbnail {
   float:left;
   display:block;
   width:100px;
   overflow:hidden;
   border:1px solid #e0e0e0;
}
ul#w-contents-list .thumbnail img
{
    display:block;
}    
ul#w-contents-list .title,
ul#w-contents-list .tagline,
ul#w-contents-list .available,
ul#w-contents-list .description {
   padding-left:115px;
}
ul#w-contents-list .title {
    font-size:18px;
    margin-bottom:5px;
}
ul#w-contents-list .title a {
    text-decoration:none;
    color:#505050;
}
ul#w-contents-list .title a:hover {
    color:#000;
}
ul#w-contents-list .tagline {
    font-size:12px;
    font-weight:normal;
    color:#999;
    margin-bottom:10px;
}
ul#w-contents-list .tagline span {
    padding-right:20px;
}
ul#w-contents-list .available {
    font-size:11px;
    margin-bottom:10px;
}
ul#w-contents-list .available a {
    padding:1px 20px;
    background:no-repeat center left;
    color:#666;
    text-decoration:none;
}
ul#w-contents-list .available a:hover {
    color:#000;
}
ul#w-contents-list .available a.physical {
    background-image:url(images/print.png);
}
ul#w-contents-list .available a.digital {
    background-image:url(images/digital.png);
}
ul#w-contents-list .description {
    font-size:12px;
    color:#505050;
}
p#w-contents-pagination {
    float:left;
    width:100%;
    margin-bottom:10px;
}
p#w-contents-pagination a,
p#w-contents-pagination b {
    font-size:12px;
    text-decoration:none;
    color:#505050;
    padding:2px 5px;
}
p#w-contents-pagination a:hover {
    background:#e0e0e0;
    color:#000;
}

p#w-contents-details-error {
    font-size:14px;
    text-align:center;
    padding-top:70px;
    background:url(images/warning.png) no-repeat center top;
    color:#505050;
    float:left;
    width:100%;
}
div#w-contents-details .contents {
    padding-left:230px;
    margin-bottom:20px;
}
div#w-contents-details h1.title {
    font-size:24px;
    color:#333;
    margin-bottom:15px;
}
div#w-contents-details ul.data {
    margin-bottom:10px;
}
div#w-contents-details ul.data li {
    color:#666;
    font-size:11px;
    font-weight:normal;
    margin-bottom:5px;
}
div#w-contents-details ul.data span {
    font-weight:bold;
    padding-right:5px;
}
div#w-contents-details p.description {
    color:#505050;
    font-size:12px;
}
div#w-contents-details .thumbnail {
    width:220px;
    float:left;
    margin-bottom:20px;
}
div#w-contents-details div.thumbnail img {   
    border:1px solid #e0e0e0;
    margin-bottom:10px;
    display:block;
    padding:10px;
}
div#w-contents-details div.thumbnail li {
    font-size:12px;
    margin-bottom:5px;
}
div#w-contents-details div.thumbnail li a {
    text-decoration:none;
    color:#666;
    display:block;
    background:url(images/download.png) no-repeat;
    height:16px;
    padding-left:22px;
}
div#w-contents-details div.thumbnail li a:hover
{
    color:#000;
}
div#w-contents-details div.new-review {
    padding:10px 0;
    float:left;
    width:100% !important;
    background:#f0f0f0;
}
div#w-contents-details div.new-review div.field {
    float:left;
    width:100%;
    margin-bottom:5px;
}
div#w-contents-details div.new-review div.field span {
    font-size:11px;
    color:#f00;
    margin-left:90px;
}
div#w-contents-details div.new-review div.field.submit {
    padding-left:90px;
    margin-bottom:0;
}
div#w-contents-details div.new-review div.field.submit a {
    line-height:24px;
    font-size:12px;
    margin-left:10px;
    text-decoration:none;
    color:#666;
}
div#w-contents-details div.new-review div.field.submit a:hover {
    color:#000;
}
div#w-contents-details div.new-review div.field label {
    float:left;
    width:80px;
    padding-right:10px;
    font-size:12px;
    text-align:right;
    line-height:20px;
}
div#w-contents-details div.new-review input,
div#w-contents-details div.new-review select,
div#w-contents-details div.new-review textarea {
    float:left;
}
p#w-contents-reviews-error 
{
    font-size:14px;
    font-weight:bold;
}
input#w-contents-review-title {
    width:560px;
}
textarea#w-contents-review-text {
    width:560px;
    height:100px;
}
div#w-contents-reviews {
    float:left;
    width:100%;
}
div#w-contents-reviews div.loading {
    font-size:14px;
    font-weight:bold;
    color:#666;
}
div#w-contents-reviews h2 {
    color:#333;
    margin-bottom:10px;
    line-height:20px;
}
div#w-contents-reviews h2 a 
{
    margin-top:7px;
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    color:#666;
    display:block;
    line-height:10px;
    height:12px;
    padding-left:17px;
    background:url(images/add.png) no-repeat;
}
div#w-contents-reviews h2 a:hover
{
    color:#000;
}
div#w-contents-reviews div.head {
    float:left;
    width:180px;
}
div#w-contents-reviews div.head img {
    float:left;
}
div#w-contents-reviews div.head h4 {
    padding-left:60px;
    font-size:11px;
    margin-bottom:5px;
}
div#w-contents-reviews div.head h5 {
    padding-left:60px;
    font-size:11px;
    font-weight:normal;
    color:#999;
}
div#w-contents-reviews div.body {
    padding-left:190px;
}
div#w-contents-reviews ul {
    clear:left;
}
div#w-contents-reviews li {
    float:left;
    width:100%;
    padding-top:10px;
    margin-top:10px;
    border-top:1px solid #e0e0e0;
}
div#w-contents-reviews h3 {
    font-size:14px;
    margin-bottom:5px;
}
div#w-contents-reviews h3 img
{
    position:relative;
    top:1px;
    left:5px;
}
div#w-contents-reviews p {
    font-size:12px;
    color:#666;
    line-height:15px;
}
/**
 * Devices style
 */
    .device_item
    {
	    float: left;
	    width: 300px;
	    border: 1px solid black;
	    margin:5px;
	    min-height: 300px;           
			            
    }
			    
    .device_item:hover
    {
	    border-width: 2px;        
    }
			    
    .device_thumbnail
    {
	    width: 100px;
	    height: 100px;        
    }
			    
    .device_description
    {
	    list-style: none;       
    }
			    
    .device_description li
    {
	    margin: 3px 0;    
    }
			    
    .dispositive_attribute
    {
	    font-weight: bold;   
			        
    }
    .dispositive_button
    {
			            
    }
 
/**
 * End Devices style
 */
 
 #overlay_back
 {
    position: absolute;
    background: url("/img/overlay_background.png") top left repeat transparent;
    z-index:4;    
 }