ul.device_description li
{
    background: url("/img/list-item.png") no-repeat 0 0 transparent;
    padding-left: 22px;   
    font-size: 12px;
    line-height: 18px;
}

ul.device_description
{
    width:225px;
    margin: 0px auto 18px;    
}

li.first_li
{
    background: none !important;    
    padding:0 !important;
    margin-bottom: 15px;
    text-align: center;
}
.device_thumbnail
{
    margin: 15px 100px;
    vertical-align:middle;
    
    
}

.device_name
{
    display: block;    
    width: 80px;
    margin: 10px auto;
}

.device_top, .device_bottom
{
    float: left;
    width:100%; 
    height: 50%;   
}




.device_name
{
    font-weight: bold;
    font-size: 18px;
        
}

.dispositive_button
{
     width: 70px;
     text-align:center;
     display: block;
     color: White;
     text-decoration: none;
     font-size: 13px;
    
}

.button_div
{
    width: 70px;
    height: 30px;
    background: url("/img/bck-btn.png") repeat-x 0 0  transparent;
    margin: 0 0 0 110px;  
    border: 1px solid #4F4F4F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;    
}

.button_div:hover
{
  background: url("/img/bck-btn-hover.png") repeat-x 0 0  transparent;  
}



/*
*Administrator
*/
    .fs_left, .fs_right
    {
        float: left;
        min-height: 370px;
        border: 1px solid #8F8F8F;
        padding: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -border-radius: 5px;
    }
    
    .fs_left
    {   
        margin: 50px 15px 0 60px;    
        width: 480px;
       
    }
    
    .fs_right
    {
        margin: 50px 60px 0 15px;
        width: 265px;
        padding-left: 15px;
    }
    
    .fs_right legend, .fs_left legend
    {
        margin-left: 20px;    
        padding: 0 2px;
        font-size: 14px;
    }
    
    #admin-panel
    {
        float: left;
        width: 100%;    
    }
    
    .ul_form
    {
        list-style: none;
        margin: 0 0 0 30px;
           
    }
    
    .ul_form li
    {
        margin: 15px 0;    
    }
    
    .ul_form input[type="text"],.ul_form input[type="number"],.ul_form input[type="date"]
    {
        width: 225px;
    }
    
    textarea
    {
        vertical-align: top;
        width:225px;
        height: 100px;
    }
    
    .ul_form label
    {
        float: left;
        width: 120px;
        text-align: right;
        margin: 0 10px 0 0;    
    
    }
    
    .select_book
    {
        width: 250px;
        height: 300px;
        margin: 10px 0 0 0;
     
    }
    
    .li_buttons
    {
        text-align: center;    
    }
    
    #search
    {
        width: 245px;    
        font-family: Arial, Verdana, Sans-Serif;
    }
    
    .search_gray
    {
        color: Gray; 
        font-style: italic;
    }
    
    .error_ul
    {
        color: Red;
        font-size: 10px;
        width: 250px; 
        margin-left: 110px;
        text-align: center;
           
    }
    
    .error_ul li
    {
        margin: 5px 0;    
    }
    
    input.error
    {
        border: 1px solid red;
    }
    
    .hidden
    {
        display: none;
    }
    
    .chk_files
    {
        margin: 5px 0 0 125px;
        font-size: 12px;    
        width: 225px;
    }
    
    .block
    {
        display: block;    
    }
    .ul_form input[type="checkbox"]
    {
        vertical-align: sub;
    }
    /*
*End Administrator
*/