html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style:none;
    font-family:Arial, serif;
    outline:0;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* *** */
body {
    background:#f0f0f0;
}
.full {
    float:left;
    width:100%;
}
.center {
    width:960px;
    margin:auto;
}

div#header-wrap {
    background:#e0e0e0;
    border-bottom:1px solid #d0d0d0;
}
div#content-wrap {
    padding:10px 0;
    border-bottom:1px solid #e0e0e0;
    background:#fff;
}
div#footer-wrap {
    font-size:11px;
    color:#333;
    padding:5px 0;
}
a#logo {
    float:left;
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
    color:#000;
    padding:10px 0;
}
nav#main-nav {
    float:right;
    padding-top:18px;
}
nav#main-nav li {
    float:left;
    margin-right:5px;
}
nav#main-nav li a {
    display:block;
    padding:7px 10px;
    text-decoration:none;
    font-size:12px;
    color:#fff;
    background:#aaa;
}
nav#main-nav li a:hover {
    background:#a0a0a0;
}

/**
 * Contents style
 */
div#w-contents-left {
    float:left;
    width:750px;
}
div#w-contents-right {
    float:right;
    width:200px;
}
p#w-contents-search-error {
    font-size:14px;
    font-weight:bold;
    color:#505050;
    float:left;
    width:100%;
}
div#w-contents-search {
    float:left;
    width:100%;
    margin-bottom:10px;
}
div#w-contents-search input.text {
    float:left;
    width:640px;
}
div#w-contents-search input.submit {
    float:right;
    width:100px;
}
ul#w-contents-list {
    float:left;
    width:100%;
}
ul#w-contents-list .content {
   float:left;
   width:100%;
   margin-bottom:10px;
   padding-bottom:10px;
   border-bottom:1px solid #e0e0e0;
}
ul#w-contents-list .thumbnail {
   float:left;
}
ul#w-contents-list .title,
ul#w-contents-list .tagline,
ul#w-contents-list .available,
ul#w-contents-list .description {
   padding-left:103px;
}
ul#w-contents-list .title {
    font-size:14px;
    margin-bottom:2px;
}
ul#w-contents-list .title a {
    text-decoration:none;
    color:#333;
}
ul#w-contents-list .title a:hover {
    color:#000;
}
ul#w-contents-list .tagline {
    font-size:12px;
    font-weight:normal;
    color:#999;
    margin-bottom:10px;
}
ul#w-contents-list .tagline span {
    padding-right:20px;
}
ul#w-contents-list .available {
    font-size:11px;
    margin-bottom:10px;
}
ul#w-contents-list .available a {
    padding:1px 20px;
    background:no-repeat center left;
    color:#666;
    text-decoration:none;
}
ul#w-contents-list .available a:hover {
    color:#000;
}
ul#w-contents-list .available a.physical {
    background-image:url(images/print.png);
}
ul#w-contents-list .available a.digital {
    background-image:url(images/digital.png);
}
ul#w-contents-list .description {
    font-size:12px;
    color:#505050;
}
p#w-contents-pagination {
    text-align:center;
}
p#w-contents-pagination a,
p#w-contents-pagination b {
    font-size:12px;
    text-decoration:none;
    color:#505050;
    padding:2px 5px;
}
p#w-contents-pagination a:hover {
    background:#e0e0e0;
    color:#000;
}

p#w-contents-details-error {
    font-size:14px;
    font-weight:bold;
    color:#505050;
    float:left;
    width:100%;
}
div#w-contents-details .contents {
    padding-left:230px;
    margin-bottom:20px;
}
div#w-contents-details h1.title {
    font-size:24px;
    color:#333;
    margin-bottom:15px;
}
div#w-contents-details ul.data {
    margin-bottom:10px;
}
div#w-contents-details ul.data li {
    color:#666;
    font-size:11px;
    font-weight:normal;
    margin-bottom:5px;
}
div#w-contents-details ul.data span {
    font-weight:bold;
    padding-right:5px;
}
div#w-contents-details p.description {
    color:#505050;
    font-size:12px;
}
div#w-contents-details .thumbnail {
    width:220px;
    float:left;
    margin-bottom:20px;
}
div#w-contents-details div.thumbnail img {   
    border:1px solid #e0e0e0;
    margin-bottom:10px;
    display:block;
    padding:10px;
}
div#w-contents-details div.thumbnail li {
    font-size:12px;
    margin-bottom:5px;
}
div#w-contents-details div.thumbnail li a {
    text-decoration:none;
    color:#333;
}
div#w-contents-details div.new-review {
    padding:10px 0;
    float:left;
    width:100% !important;
    background:#f0f0f0;
}
div#w-contents-details div.new-review div.field {
    float:left;
    width:100%;
    margin-bottom:5px;
}
div#w-contents-details div.new-review div.field span {
    font-size:11px;
    color:#f00;
    margin-left:90px;
}
div#w-contents-details div.new-review div.field.submit {
    padding-left:90px;
    margin-bottom:0;
}
div#w-contents-details div.new-review div.field.submit a {
    line-height:26px;
    font-size:14px;
    margin-left:10px;
    text-decoration:none;
    color:#666;
}
div#w-contents-details div.new-review div.field.submit a:hover {
    color:#000;
}
div#w-contents-details div.new-review div.field label {
    float:left;
    width:80px;
    padding-right:10px;
    font-size:12px;
    text-align:right;
    line-height:20px;
}
div#w-contents-details div.new-review input,
div#w-contents-details div.new-review select,
div#w-contents-details div.new-review textarea {
    float:left;
}
input#w-contents-review-title {
    width:630px;
}
textarea#w-contents-review-text {
    width:630px;
    height:100px;
}
div#w-contents-reviews {
    float:left;
    width:100%;
}
div#w-contents-reviews div.loading {
    font-size:14px;
    font-weight:bold;
    color:#666;
}
div#w-contents-reviews h2 {
    color:#333;
    margin-bottom:10px;
    line-height:20px;
}
div#w-contents-reviews h2 a {
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    color:#666;
    display:block;
}
div#w-contents-reviews div.head {
    float:left;
    width:180px;
}
div#w-contents-reviews div.head img {
    float:left;
    width:64px;
}
div#w-contents-reviews div.head h4 {
    padding-left:64px;
    font-size:11px;
}
div#w-contents-reviews div.body {
    padding-left:190px;
}
div#w-contents-reviews ul {
    clear:left;
}
div#w-contents-reviews li {
    padding-top:10px;
    margin-top:10px;
    border-top:1px solid #e0e0e0;
}
div#w-contents-reviews h3 {
    font-size:14px;
    margin-bottom:5px;
}
div#w-contents-reviews p {
    font-size:12px;
    color:#666;
    line-height:15px;
}
/**
 * Devices style
 */
    .device_item
    {
	    float: left;
	    width: 300px;
	    border: 1px solid black;
	    margin:5px;
	    min-height: 300px;           
			            
    }
			    
    .device_item:hover
    {
	    border-width: 2px;        
    }
			    
    .device_thumbnail
    {
	    width: 100px;
	    height: 100px;        
    }
			    
    .device_description
    {
	    list-style: none;       
    }
			    
    .device_description li
    {
	    margin: 3px 0;    
    }
			    
    .dispositive_attribute
    {
	    font-weight: bold;   
			        
    }
    .dispositive_button
    {
			            
    }
 
/**
 * End Devices style
 */
 
 #overlay_back
 {
    position: absolute;
    background: url("/img/overlay_background.png") top left repeat transparent;
    z-index:4;    
 }